[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

flake8 = "*"
pytest = "*"


[packages]

django = "*"
django-environ = "*"
crispy-bootstrap5 = "*"
django-phonenumber-field = "*"
django-extra-views = "*"
pillow = "*"
phonenumbers = "*"




[requires]

python_version = "3.7"