<article class="d-flex content-section">
    <div class="flex-shrink-0 position-relative">
        <img class="rounded-circle article-img" src="{{ event.owner.profile.image.url }}"><br>
        <a class="me-2 align-middle" href="{% url 'user-events' event.owner.username %}">{{ event.owner }}</a>
    </div>
    <div class="flex-grow-1 ms-3">
        <div class="article-metadata">
            <small class="text-muted">{{ event.date|date:"H:i, F d, Y" }}</small><br>
            <small class="text-muted">{{ event.location }}</small>
            {% if event.owner == user and update == True %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' event.id %}"><i class="fas fa-pencil-alt"></i> Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' event.id %}"><i class="fas fa-trash icon"></i> Delete</a>
                </div>
            {% endif %}
        </div>
        <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
        <p class="article-content">{{ event.description }}</p>
    </div>
</article>